frictionless
genson
jsonschema
oxrdflib
pandas
#
# The pyld version is pinned to a specific commit containing
#   a fix for JSON-LD framing issues.
#   See https://packaging.python.org/en/latest/specifications/dependency-specifiers/#dependency-specifiers
pyld @ git+https://github.com/digitalbazaar/pyld.git@598dd0a7b1614d86926aec5f3e61210caeaf17e0
pyyaml
rdflib>=7.4
#
# A faster alternative to json library, used under the hood by rdflib.
#
orjson
sqlalchemy==2.0.48
# sqlite3==3.14.3
