---
name: Lint

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

# Github token permissions.
permissions: {}

jobs:
  lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
        # Don't persist credentials to prevent credentials to be leaked on artifacts.
        persist-credentials: false

    - name: Super-Linter
      uses: super-linter/super-linter/slim@61abc07d755095a68f4987d1c2c3d1d64408f1f9  # v8.5.0
      env:
        # Either disable MULTI_STATUS or pass the GITHUB_TOKEN.
        MULTI_STATUS: false
        ENABLE_GITHUB_PULL_REQUEST_SUMMARY_COMMENT: false
        # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VALIDATE_MARKDOWN: false
        VALIDATE_MARKDOWN_PRETTIER: false
        #
        # Python validation is delegated to pre-commit.
        #
        VALIDATE_PYTHON_ISORT: false
        VALIDATE_XML: false
        VALIDATE_PYTHON_RUFF: false
        VALIDATE_PYTHON_RUFF_FORMAT: false
        VALIDATE_PYTHON_BLACK: false
        VALIDATE_PYTHON_BLACK_FORMAT: false
        VALIDATE_PYTHON_PYLINT: false
        VALIDATE_PYTHON_FLAKE8: false
        #
        # YAML validation is delegated to pre-commit.
        #
        VALIDATE_YAML: false
        VALIDATE_YAML_PRETTIER: false
        VALIDATE_OPENAPI: false
        VALIDATE_NATURAL_LANGUAGE: false
        #
        # JS/CSS delegated to eslint.
        #
        VALIDATE_BIOME_FORMAT: false
        VALIDATE_BIOME_LINT: false
        VALIDATE_CSS: false
        VALIDATE_JAVASCRIPT_ES: false
        VALIDATE_JAVASCRIPT_STANDARD: false
        VALIDATE_JSON_PRETTIER: false
        VALIDATE_JSON: false
        #
        # TS/TSX delegated to eslint.
        #
        VALIDATE_TSX: false
        VALIDATE_TYPESCRIPT_ES: false
        # JAVASCRIPT_ES_CONFIG_FILE: eslint.config.mjs
        VALIDATE_TYPESCRIPT_STANDARD: false
        # TYPESCRIPT_ES_CONFIG_FILE: eslint.config.mjs
        VALIDATE_JSCPD: false  # Disable copy-paste detection.
        VALIDATE_SPELL_CODESPELL: false  # Disable code spell checking.

  pre-commit:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: python:3.12
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        # Remove git credentials to prevent
        #   credentials to be leaked on artifacts.
        persist-credentials: false
    - name: Run commit hooks.
      run: |
        pip3 --no-cache-dir install pre-commit
        git --version
        pwd
        ls -la
        id
        git config --global --add safe.directory "$PWD"
        pre-commit install
        pre-commit run -a

    # Store (expiring) logs on failure.
    # Retrieve artifacts via `gh run download`.
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      if: failure()
      with:
        name: pre-commit.log
        path: /github/home/.cache/pre-commit/pre-commit.log
        retention-days: 5
