---
name: "SAST"

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions: read-all

jobs:
  super-sast:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
    - name: Test
      run: |
        echo "UID=$(id -u)" >> .env
        docker run --rm --user="$(id -u)" \
          -v "${PWD}:/code" \
          -w /code \
          -e MAVEN_OPTS=" -ntp " \
          -e RUN_OWASP_DEPENDENCY_CHECK=false \
          -e RUN_SPOTBUGS_CHECK=false \
          -e RUN_SPOTLESS_CHECK=false \
          -e RUN_SPOTLESS_APPLY=false \
          -e HOME=/tmp \
          -e USER=nobody \
          -e BANDIT_CONFIG_FILE=/code/.bandit.yaml \
          ghcr.io/par-tec/super-sast:latest
